@if (ViewBag.score != null)
{
    <script>alert("@ViewBag.score")</script>
}
@{
    ViewData["Title"] = "IndexView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="section-with-bg">

    <div class="container mt-5">
        <div class="row">
            @foreach (var survey in ViewBag.survey)
            {
                <div class="col-md-4 border border-light">
                    <h2 class="font-weight-bold text-center mt-3">@survey.Name</h2>
                    <hr>
                    <div class="survey-head text-center">
                        <i class="fas fa-poll-h fa-3x blue-text mb-2"></i>
                        <p class="font-weight-normal">Your opinion matters</p>
                        <p>
                            @survey.Description
                        </p>
                    </div>
                    <hr>
                    <div class="survey-footer clearfix">
                        <a asp-controller="survey" asp-action="question" asp-route-id="@survey.Id" class="btn btn-primary waves-effect waves-light">
                            Send
                            <i class="fa fa-paper-plane ml-1"></i>
                        </a>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
