
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List Account</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> User </th>
                        <th> Id People </th>
                        <th> Class </th>
                        <th> Date </th>
                        <th> Role </th>
                        <th> Status </th>
                        <th> Delete </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-1">
                            <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>
                        <td>132</td>
                        <td> class1 </td>
                        <td> 15/03/2000</td>
                        <td>student</td>
                        <td>
                            <label class="badge badge-gradient-success">ENABLE</label>
                        </td>
                        <td><button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Del</button></td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>
                        <td>132</td>
                        <td> class1 </td>
                        <td> 15/03/2000</td>
                        <td>student</td>
                        <td>
                            <label class="badge badge-gradient-success">ENABLE</label>
                        </td>
                        <td><button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Del</button></td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>
                        <td>132</td>
                        <td> class1 </td>
                        <td> 15/03/2000</td>
                        <td>student</td>
                        <td>
                            <label class="badge badge-gradient-success">ENABLE</label>
                        </td>
                        <td><button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Del</button></td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>
                        <td>132</td>
                        <td> class1 </td>
                        <td> 15/03/2000</td>
                        <td>student</td>
                        <td>
                            <label class="badge badge-gradient-success">ENABLE</label>
                        </td>
                        <td><button type="button" class="btn btn-gradient-success btn-rounded btn-fw mb-md-1">Del</button></td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>
                        <td>132</td>
                        <td> class1 </td>
                        <td> 15/03/2000</td>
                        <td>student</td>
                        <td>
                            <label class="badge badge-gradient-success">ENABLE</label>
                        </td>
                        <td><button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Del</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

