
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Question Table</h4>
              
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Quesntion</th>
                            <th>Created</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>53275531</td>
                            <td>12 May 2017</td>
                            <td><label class="badge badge-danger">enable</label></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>53275531</td>
                            <td>12 May 2017</td>
                            <td><label class="badge badge-danger">enable</label></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>53275531</td>
                            <td>12 May 2017</td>
                            <td><label class="badge badge-danger">enable</label></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>53275531</td>
                            <td>12 May 2017</td>
                            <td><label class="badge badge-danger">enable</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Answer Table</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Answer</th>
                            <th>Id Question</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>answer 1</td>
                            <td> 1</td>
                            <td><label class="badge badge-danger">true</label></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>answer 1</td>
                            <td> 1</td>
                            <td><label class="badge badge-danger">true</label></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>answer 1</td>
                            <td> 1</td>
                            <td><label class="badge badge-danger">true</label></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>answer 1</td>
                            <td> 1</td>
                            <td><label class="badge badge-danger">true</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>