
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List Seminar</h4>
           
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Place</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Seminar 1</td>
                        <td>15/03/2000</td>
                        <td>HCM</td>
                        <td><label class="badge badge-success">Completed</label></td>
                    </tr>
                    <tr>
                        <td>Seminar 1</td>
                        <td>15/03/2000</td>
                        <td>HCM</td>
                        <td><label class="badge badge-success">Completed</label></td>
                    </tr>
                    <tr>
                        <td>Seminar 1</td>
                        <td>15/03/2000</td>
                        <td>HCM</td>
                        <td><label class="badge badge-success">Completed</label></td>
                    </tr>
                    <tr>
                        <td>Seminar 1</td>
                        <td>15/03/2000</td>
                        <td>HCM</td>
                        <td><label class="badge badge-success">Completed</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

